@{
    ViewData["Title"] = "No access permissions";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <h4>No access permissions</h4>
        </div>
    </div>
</div>
